/*Default-CSS*/
input[type="file"]::-webkit-file-upload-button {
	cursor:pointer; 
}
input[type="file"]::-moz-file-upload-button {
	cursor:pointer; 
}
input[type="file"]::-ms-file-upload-button {
	cursor:pointer; 
}
input[type="file"]::-o-file-upload-button {
	cursor:pointer; 
}
input[type="file"] {
	cursor:pointer; 
}
html body{
	font-family: 'Inter', sans-serif;
	margin:0;
	overflow-x: hidden;
	background-size: auto;
	background-color: #1A1A1A;
	font-size: 14px
}
html body, html .container {
	min-width: auto;
}
*::-moz-selection {
	color: #fff;
	background:#000;
}
*::-webkit-selection {
	color: #fff;
	background:#000;
}
*::-webkit-input-placeholder { 
	color: #ccc;
	opacity:1;
}
*:-moz-placeholder { 
	color: #ccc;
	opacity:1;
}
*::-moz-placeholder { 
	color: #ccc;
	opacity:1;
}
*:-ms-input-placeholder { 
	color: #ccc;
	opacity:1;
}
a,div a:hover, div a:active, div a:focus, button {
	text-decoration: none;
	-webkit-transition:all 0.5s ease 0s;
	-moz-transition:all 0.5s ease 0s;
	-ms-transition:all 0.5s ease 0s;
	-o-transition:all 0.5s ease 0s;
	transition:all 0.5s ease 0s; 
}
a, span,div a:hover, div a:active, button {
	text-decoration: none;
}
*::after, *::before, * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
body a {
	outline: none;
	color:#fff;
}
body a:hover {
	color:#FF5B48;
}
body .clearfix, body .clear {
	clear:both;
	line-height:100%;
}
body .clearfix{
	height:auto;
}
*{
	outline:none!important;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ul:after, 
li:after {
	clear:both;
	display:block;
	content:"";
}
div input, div select, div textarea, div button{
	font-family: 'Inter', sans-serif;
}
body h1, body h2, body h3, body h4, body h5, body h6{
	font-family: 'DM Serif Display', serif;
	line-height:120%;
	color:#fff;
	font-weight: normal;
	margin:0 0 15px;
}
body h1 { font-size: 24px;}
body h2 { font-size: 22px;}
body h3 { font-size: 18px;}
body h4 { font-size: 16px;}
body h5 { font-size: 12px;}
body h6 { font-size: 10px;}
body h1:last-child, 
body h2:last-child, 
body h3:last-child, 
body h4:last-child, 
body h5:last-child, 
body h6:last-child{
	margin-bottom:0;
}
div select {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
div select option {
	font-size: 13px;
	color:#333;
	padding: 2px 5px;
}
img {
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height:auto;
}
body p{
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size:14px;
	line-height: 140%;
	margin: 0 0 15px;
	padding: 0;
}
body p:empty{
	margin:0;
	line-height:0;
}
body p:last-child{
	margin-bottom:0;
}
p strong {
	font-weight: bold;
}
label em {
	color: #ff0000;
	display: inline-block;
	font-style: normal;
	vertical-align: top;
	margin-left:5px;
}
iframe{
	display:block;
	width:100%;
}
.container:after{
	content:"";
	display:block;
	clear:both;
}
.container{
	width:100%;
	max-width:1230px;
	padding-left:15px;
	padding-right:15px;
	margin:0 auto;
	position:relative;
	float:none;
}
/*scroll Hide*/
html.no-scroll{
	overflow: hidden;
}
html.no-scroll body {
	overflow: hidden;
	height:100%;
}
.opacity-none {
	opacity: 0;
}
.display-none {
    display: none;
}
/*Default-CSS close*/

header {
    background-color: #141414;
    padding: 27.5px 0;
}
header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo a, .logo img {
	display: block;
}
.menu-icon {
    display: none;
}
.main-menu {
	margin-left: auto;
}
.main-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	height: 22px;
	overflow: hidden;
}
.main-menu li:not(.menu-item) {
	padding: 0 17px;
}
.main-menu li:not(.menu-item) svg, .main-menu li:not(.menu-item) svg path {
	transition: 0.5s
}
.main-menu li:not(.menu-item) a:hover svg path {
	fill: #FF5B48;
}
.main-menu li:not(.menu-item) a:hover svg {
	transform: rotate(360deg);
}
/*.main-menu li:nth-child(3) a:hover svg {
	fill: #FF5B48;
}
.main-menu li:not(.menu-item):nth-child(4) a:hover svg {
	fill: #FF5B48;
}*/
.main-menu li {
	padding-right: 25px;
	padding-left: 25px
}
.main-menu li:last-child {
	padding-right: 0
}
.main-menu li:nth-last-child(3) {
    padding-left: 37px;
}
.main-menu li a {
	color: #808080;
	font-weight: 500;
}
.main-menu li a:hover {
	color: #FFFFFF;
}
.main-menu li a svg {
	display: block;
}
.main-menu .menu-item {
	position: relative;
    height: 22px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.main-menu .menu-item a {
	display: block;
    -webkit-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.main-menu .menu-item a:after {
    content: attr( data-menu-name );
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    -webkit-transform: translateY( -100% );
    -ms-transform: translateY( -100% );
    -o-transform: translateY( -100% );
    transform: translateY( -100% );
}
.main-menu .menu-item a:hover {
	-webkit-transform: translateY( 100% );
    -ms-transform: translateY( 100% );
    -o-transform: translateY( 100% );
    transform: translateY( 100% );
}

/* main banner */
.main-banner {
    position: relative;
    height: 800px;
    margin-bottom: 0;
}
.banner-title {
    display: flex;
}
.banner-title h1 {
	font-weight: normal;
	font-size: 68.95px;
	line-height: 120%;
	position: relative;
    text-indent: 119px;
    max-width: 466px;
    margin-top: 51px;
}
.banner-title h1 span:after {
    content: "";
    position: absolute;
    left: -9px;
    right: 0;
    top: -29px;
    bottom: 0;
    background-image: url(../images/banner-text.svg);
    background-repeat: no-repeat;
    z-index: -1;
}
.banner-title h1 b {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Inter', sans-serif;
    max-width: 42px;
    display: block;
    position: absolute;
    left: 75px;
    top: 20px;
    text-indent: 0;
}
.banner-title h1 span {
	display: block;
}
.banner-title img  {
	margin: 0 0 0 51px;
	border-radius: 50%
}
.banner-description {
    display: flex;
    padding-bottom: 78px;
}
.banner-content {
    max-width: 461px;
    margin-top: 32px;
}
.banner-content p {
	font-size: 18.66px;
	line-height: 27px;
}
.banner-description img {
    margin: 4px auto auto 195px;
    filter: grayscale(1);
}
.banner-content a {
	display: flex;
	align-items: center;
	margin-top: 32px;
	font-size: 18.66px;
	line-height: 27px;
	color: #FF5B48;
	pointer-events: auto;
}
.banner-content a:hover {
	color: #ffffff;
}
.banner-content a svg { 
	display: block;
	margin: 3px 0 0 10px;
}
.banner-wrap {
	flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    z-index: 1;
}
.banner-hover {
    --mask: radial-gradient(circle at var(--x,50%) var(--y,50%),#000 var(--maskSize1,0),transparent 0);
    background-color: #333;
    left: 0;
    -webkit-mask-image: var(--mask);
    mask-image: var(--mask);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    /*transition: --x 01ms 01ms ease-out, --y 01ms 01ms ease-out;*/
}
.banner-hover * {
	pointer-events: none;
}
@property --x {
	syntax: '<percentage>';
	inherits: true;
	initial-value: 50%;
}

@property --y {
	syntax: '<percentage>';
	inherits: true;
	initial-value: 50%;
}
.cursor {
  position: fixed;
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: scale(1);
}
.cursor.active {
  opacity: 1;
  transform: scale(0);
}
.cursor.menu-active {
  opacity: 1;
  transform: scale(0);
}
.cursor.hovered {
  opacity: 1;
}
.cursor-follower {
  position: fixed;
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: translate(2px, 2px);
}
.cursor-follower.active {
  opacity: 1;
  transform: scale(2);
}
.cursor-follower.menu-active {
  opacity: 1;
  transform: scale(2);
}
.cursor-follower.hovered {
  opacity: 1;
}
/* banner section close */

/* content section */
.content-row {
    display: flex;
    padding-top: 120px;
    padding-bottom: 80px;
}
.content-row:first-child {
	border-top: 0.4px solid rgba(250, 250, 250, 0.8);
	border-bottom: 0.4px solid rgba(250, 250, 250, 0.8);
}
.content-row .count {
    width: 120px;
}
.content-row .count h2 {
    font-size: 68.95px;
    margin-top: -20px;
}
.content-row .second-title {
    font-size: 14px;
    line-height: 17px;
    color: #808080;
    width: 204px;
}
.content-row .inner-menu {
    width: 28.5%;
}
.content-row .inner-menu:last-child {
    width: 184px;
}
.content-row .inner-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.content-row .inner-menu ul li:not(:last-child) {
    margin-bottom: 35px;
}
.content-row .inner-menu li a {
    font-size: 24px;
    line-height: 29px;
    color: #808080;
    transition: 0.5s;
    font-weight: normal;
    display: flex;
}
.content-row .inner-menu li svg {
	margin-left: 15px;
}
.content-row .inner-menu li a:hover {
    color: #fff;
    font-weight: 500;
}
.menu-animation {
    border-radius: 8px;
    border: 2px solid #333333;
    font-size: 28px;
    line-height: 34px;
    color: #F7EEE5;
    padding: 0;
    height: 121px;
    display: flex;
    position: relative;
}
.menu-animation-wrap {
	overflow: hidden;
	padding: 30px 0;
    margin: -30px 0;
}
.menu-animation-left {
    display: flex;
}
.menu-animation ul {
	margin: 0;
    list-style: none;
    padding: 0;
    transition: transform .5s cubic-bezier(.23,.36,.28,.83),-webkit-transform .5s cubic-bezier(.23,.36,.28,.83);
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    white-space: nowrap;
}
.menu-animation ul li {
    padding: 0 43px;
    transition: transform .5s cubic-bezier(.23,.36,.28,.83),-webkit-transform .5s cubic-bezier(.23,.36,.28,.83);
}
.content-row:last-child {
	border-top: 0;
}
.menu-animation:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 150px;
    background-color: #1a1a1a;
    height: 40px;
    top: -22px;
    margin: auto;
    text-align: center;
    font-size: 40px;
    color: #FE5826;
    line-height: 40px;
    background-image: url('../images/heart.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
    animation-name: heartAnimatipn;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    transition: 0.2s;
}
@keyframes heartAnimatipn {
  0% {background-size: 60px;}
  50% {background-size: 50px;}
  100% {background-size: 60px;}
}

.show-on-scroll {
  transform: translateY(6em);
  transition: 0.5s
}
.show-on-scroll.is-visible {
  opacity: 1;
  transform: translateY(0em);
}

/* artical sectio*/
.artical-section {
    padding-bottom: 90px;
}
.artical-section .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.artical-section .artical {
    width: calc(33.33% - 20px);
    margin-bottom: 30px;
}
.artical-section .artical span {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
    color: #B3B3B3;
}
.artical-section .artical h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
/* artical sectio close*/

/* footer */
.footer-top {
    background-color: #060201;
    padding: 80px 0 100px;
}
.footer-top .container {
    display: flex;
    max-width: 1024px;
}
.footer-top .logo-left {
    width: 234px;
}
.footer-top .logo-left a {
    display: inline-block;
    vertical-align: top;
}
.footer-top .logo-left h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 20px 0 6px;
}
.footer-top .logo-left span {
    display: block;
    color: #BFBFBF;
}
.footer-right {
    width: 762px;
}
.footer-right ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.footer-right p {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 60px
}
.footer-right ul li {
    font-size: 18px;
    line-height: 22px;
    margin-right: 64px;
}
.footer-right ul li:last-child {
    margin-right: 0;
}
.footer-right ul li a {
	color: #808080;
}
.footer-right ul li a:hover {
	color: #FF5B48;
}
.footer-bottom {
    padding: 24px 0;
    text-align: center;
}
.footer-bottom p {
    color: #BFBFBF;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}
.footer-bottom p span {
    margin-left: 20px;
}
/*
    font-family: 'Inter', sans-serif;
    font-family: 'DM Serif Display', serif;
*/


/* All Project Styles */
.all-projects {
    background: rgba(6, 2, 1, .8);
    backdrop-filter: blur(148px);
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.all-projects::before,
.all-projects::after {
    content: '';
    position: absolute;
    transform: translateX(50%);
    filter: blur(240px);
    border-radius: 100%;
    z-index: -1;
    opacity: .5;
}
.all-projects::after {
    width: 762px;
    height: 762px;
    left: -50%;
    bottom: 20%;
    background: #6426FF;
}
.all-projects::before {
    width: 600px;
    height: 600px;
    right: 0;
    top: 80px;
    background: #FC3A00;
}
/* Portfolio Styles */
.my-work {
    position: relative;
    /* height: 800px; */
    padding-top: 315px;
    padding-bottom: 75px;
}
.my-work .container {
    display: flex;
    justify-content: space-between;
}
.my-work-title {
    font-style: italic;
    font-weight: 400;
    font-size: 394px;
    text-align: center;
    color: #eee;
    white-space: nowrap;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -80px);
}
.my-work-description {
    margin-left: auto;
}
.my-work-description p {
    max-width: 500px;
    margin: 40px 0 0 auto;
    font-size: 18.66px;
    line-height: 1.5;
    color: #fff;
}
.keep-scrolling {
    margin-left: 66px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.keep-scrolling p {
    width: 44px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.7;
    text-decoration-line: underline;
    margin-bottom: 12px;
}
.keep-scrolling svg {
    width: 8px;
}
/* Portfolio Styles End */

/* Project Image Styles */
.my-works {
    padding-bottom: 120px;
}
.grid-image-item {
    display: block;
}
.grid-image-item .case-image {
    width: 100%;
}
/* Project Image Styles End */

/* Contact Styles */
.cta-section {
    padding-bottom: 120px;
}
.cta-post-list {
    display: flex;
    justify-content: center;
    position: relative;
    justify-items: center;
    grid-column-gap: 4rem;
    border-top: 1px solid rgba(250, 250, 250, 0.24);
    border-bottom: 1px solid rgba(250, 250, 250, 0.24);
}
.cta-posts {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 80px 0 100px 0;
}
.post-subtitle {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #fff;
    margin-bottom: 8px;
}
.post-title {
    font-weight: 400;
    font-size: 68.95px;
    text-align: center;
    color: #eee;
    margin-bottom: 60px;
}
.cta-arrow-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    transform: translate3d(-80px, 0px, 0px);
    transform-style: preserve-3d;
    transition: ease 0.25s;
}
.arrow-first {
    margin: 2.3rem 1.6rem;
}
.arrow-second {
    margin-right: 2.1rem;
    margin-left: 2.1rem;
}
.cta-posts:hover .cta-arrow-wrap {
    transform: translate3d(0, 0px, 0px);
}
.cta-arrow {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 80px;
    height: 80px;
    margin: auto;
    border: 1px solid #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.cta-divider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    margin-right: auto;
    margin-left: auto;
    background-color:rgba(250, 250, 250, 0.24);
}
/* Contact Styles End */

/* Project Details Styles */
.project-detail {
    background: rgba(6, 2, 1, 0.8);
    backdrop-filter: blur(148px);
    position: relative;
}
.project-detail::before {
    content: '';
    position: absolute;
    width: 762px;
    height: 762px;
    left: 0;
    top: 140px;
    transform: translateX(-50%);
    background: #FEE403;
    filter: blur(240px);
    border-radius: 381px;
    opacity: .5;
}
.project-title {
    font-size: 68.95px;
    color: #EEEEEE;
    max-width: 570px;
    padding: 90px 0;
    margin: 0;
}
.project-heading {
    font-weight: 500;
    font-size: 14px;
    color: #808080;
    margin-bottom: 16px;
}
.project-text {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
}
.cases-info-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
}
.cases-info-wrapper .project-deliverables {
    min-width: 310px;
}

/* Work Overview Styles */
.work-overview-content {
    display: flex;
    padding-bottom: 80px;
}
.overview-text {
    width: 50%;
    margin-top: 80px;
}
.overview-text p {
    font-size: 18.66px;
}
.overview-img img {
    width: 100%;
    max-width: 386px;
    margin: auto;
}
.overview-img {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: -115px;
}
.my-work-image {
    padding-bottom: 120px;
}
.hr {
    border: 0.4px solid #fafafacc;
}
.core-value-index,
.strategy-index {
    font-family: 'DM Serif Display';
    font-size: 68px;
    line-height: 1;
    color: #EEEEEE;
    width: 16%;
}
.core-value-label,
.strategy-label {
    font-weight: 500;
    font-size: 14px;
    color: #FF5B48;
    width: 16%;
}
.core-values {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 24px;
    color: #808080;
    display: flex;
    flex-wrap: wrap;
    width: 68%;
}
.core-value-wrap {
    display: flex;
    padding: 80px 0;
}
.core-values li {
    width: 33.33334%;
    margin-bottom: 2rem;
}
.project-strategy {
    padding-bottom: 120px;
}
.strategy-wrap {
    padding: 120px 0;
    display: flex;
}
.strategy-text {
    font-size: 18.66px;
    line-height: 1.5;
    color: #fff;
    width: 50%;
}
.strategy-images {
    display: flex;
    align-items: center;
    gap: 20px;
}
.strategy-left,
.strategy-right{
    width: 50%;
}
.strategy-right picture:not(:last-child) img {
    margin-bottom: 2.5rem;
}