footer {
    h2 {
        font-family: 'Port Lligat Sans', sans-serif;
        font-size: 40px;
        background: -webkit-linear-gradient(#da7151, #9e9a9a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        span {
            font-family: 'Port Lligat Sans', sans-serif;
            font-size: 40px;
            color: $white !important;
            -webkit-background-clip: unset;
            -webkit-text-fill-color: #fff;
        }
    }
    h3,
    h4 {
        color: $white;
        font-family: $primaryfont;
        line-height: 1.5;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 12px;
        font-weight: normal;
    }
    .social {
        li {
            a {
                display: block;
            }
        }
    }
}